* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  height: 5rem;
  width: 100%;
  background: url(../images/star.jpg) repeat-x;
}
header h1 {
  color: yellow;
  line-height: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px red;
}
nav {
  margin-top: 10px;
  width: 100%;
  height: 2rem;
  background-color: rgb(9, 194, 194);
  text-align: center;
}
nav > ul > li {
  display: inline-block;
}
nav li {
  position: relative;
  background-color: rgb(5, 146, 99);
  line-height: 2rem;
  width: 10rem;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: aliceblue;
}
nav .subnav {
  position: absolute;
  z-index: 1;
  display: none;
}
nav li:hover .subnav{
  display: block;
}

#content {
  display: flex;
  position: relative;
  height: calc(100vh - (10rem + 10px));
}
.leftbar {
  width: 20%;
  height: 100%;
  background-color: rgb(185, 225, 243);
}
h4 {
  background-color: blue;
  color: aliceblue;
  text-align: center;
  padding: 5px;
}
.leftbar ul {
  padding: 2rem;
  list-style-type: none;
}
.rightbar {
  right: 0;
  height: 100%;
  position: absolute;
  width: 20%;
  background-color: rgb(185, 225, 243);
}
#content .main{
  width: 60%;
  height: calc(100% );
  background-color: blueviolet;
}
#content .main > .content{
  width: 50%;
  height: 50%;
  background-color: aquamarine;
  z-index: 1;
  float: left;
}
footer {
  background-color: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
}
